@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* shared style  */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn-primary {
    padding: 12px 16px;
    background-color: #469165;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-heading {
    padding: 16px 0;
    font-weight: 700;
    font-size: 3rem;
    line-height: 100%;
    text-transform: capitalize;
    color: #001931;
}

.section-text {
    line-height: 20px;
    color: #627382;
}


/* nav section  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 152%;
    text-transform: capitalize;
}

/* hero section  */
#hero {
    background-image: url(./images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 115px 0 180px;
}

.hero-content {
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.white-bg-text {
    background-color: #fff;
    color: #469165;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 229px;
    margin: 0 auto;
}

.circle-icon {
    width: 16px;
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.25rem;
    text-transform: capitalize;
    color: #fff;
}

.green-text {
    color: #469165;
}

.hero-content p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: #fff;
    padding: 0 6%;
}

.hero-btn {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.play-btn {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
}

/* notes section  */
#notes {
    padding: 80px 0;
    text-align: center;
}

.notes-card-container {
    margin: 44px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.notes-card {
    padding: 70px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(224, 224, 224);
}

.notes-card-icon {
    width: 60px;
    padding: 14px;
    background-color: #f95555;
    border-radius: 50%;
}

/* brain section  */
#brain {
    display: flex;
    gap: 60px;
    align-items: center;
}

.brain-img {
    max-width: 600px;
}

.brain-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

.solution-text {
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.brain-text ul {
    margin-top: 24px;
}

.brain-text ul li {
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    list-style-image: url(./images/CheckCircle.png);
    list-style-position: inside;
    margin: 10px 0;
}

/* early access section  */
#early-access {
    padding: 120px 0;
}

.early-access-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.early-access-content {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* footer section  */
#footer {
    padding-top: 120px;
    background-color: #001931;
    color: #F7F6F2;
}

.logo-icon-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.social-icon {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-text {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #627382;
}