@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* shared style  */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.btn-primary {
    padding: 12px 16px;
    background-color: #469165;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* nav section  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 152%;
    text-transform: capitalize;
}